h1 {
  color: black;
  font-family: helvetica;
  font-size: 72px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h2 {
  color: black;
  font-family: helvetica;
  font-size: 54px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h3 {
  color: black;
  font-family: helvetica;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

p {
  background: beige;
}

figure {
  border: 5px solid black;
  padding: 30 px
}

figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure.main-image {
  background:PaleVioletRed;
  border-color: : Maroon;
  color: black;
}

figure.section-image {
  float: Center;
  margin-left: 20px;
  margin-bottom: 32px;
  max-width: 320px;
}

body {
  color: Black;
  font-family: helvetica;
  font-size: 24px;
}

nav ul {
  background-color: PaleVioletRed;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  border: 5px solid Maroon;
}

nav ul li a {
  color: Maroon;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid Maroon;
  display: block;
}

nav ul li a:hover {
  background-color:Maroon;
}

nav ul li:last-child a {
  border-bottom: none;
}
