h1 {
  color: black;
  font-family: sans-serif;
  font-size: 72px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}
figure {
  margin: 0;
  border: 5px solid black;
  padding: 30 px
  padding-bottom: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  margin-bottom: 12px;
}

figure.main-image {
  background:PaleGreen;
  border-color: : Green;
  color: black;
  margin-bottom: 32px
}

@media all and (min-width: 768px)
  figure.section-image {
    float: right;
    margin: -20px -62px 32px 20px;
    max-width: 320px;
  }
}

body {
  color: Green;
  font-family: sans-serif;
  font-size: 24px;
  margin: 0;
}

p {
  line-height: 1.25;
  margin-bottom: 1.25em;
}

.container {
  width: 96%
  max-width: 1020px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

@media all and (min-width: 376px)
  nav ul li {
    display: flex;
    background-color: PaleGreen;
    justify-content: center;
    gap: 30px;
  }
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid DarkGreen;
  display: block;
}

nav ul li a:hover {
  background-color:DarkGreen;
}

nav ul li:last-child a {
  border-bottom: none;
}

header nav ul {
  border-top: 1px solid DarkGreen;
  border-bottom: 1px solid DarkGreen;
}

footer nav {

}

footer nav ul li a {
  color: LightGreen;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  background-color: LightGreen;
}
